.accordion {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ddd;
  }
  
  .accordion-item:last-child {
    border-bottom: none;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 40px 200px;
    cursor: pointer;
    background-color: #3e3d3d;
    font-size: 24px;
    
    
    
  }
  
  .accordion-body {
    padding: 15px;
    background-color: #626262;
    font-size: 24px;
    line-height: 1.5;
  }
  